@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.box {
    position: relative;
    width: 165px;
    height: 165px;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    color: #A1A1A1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.folded-box {
    border-top: 1px solid black;
    border-left: 1px solid black;
    background: linear-gradient(312deg, transparent 27px, rgb(255, 255, 255) 0);
}

.folded-box::before {
  content: "";
  position: absolute;
  border-left: 1px solid black;
  border-top: 1px solid black;
  bottom: 0;
  right: 0;
  width: 39px;
  height: 39px;
  background: linear-gradient(to top left, transparent 50%, rgb(255, 255, 255) 0);
  border-top-left-radius: 0.9rem;
}

.btn-add {
  padding: 15px;
  color: #fff;
  background-color: #7EC2EB;
  font-size: 20px;
  display:block;
  height: 50px;
  width: 50px;
  border-radius: 50%;

  text-align: center;

  position: absolute;
  bottom: -10%;
  right: 42%;

  cursor: pointer; 
  border: none;
}

.more-btn {
  border: none;
  background-color: #fff;
}

.more-ico {
  font-size: 25px;
  color: #A1A1A1;
}
