.jumbotron {
    height: 500px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    background-color: #fff;
    position: fixed; 
    top: 0;

    z-index: 99;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    background-image: url(../assets/jumbo-img.png);
}

.company-name {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    
    width: 300px;
    margin: 50px 0 0 50px;
    padding: 15px;
    
    border-radius: 999px;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;

    gap: 8px;

    margin: 25px 25px 0 0;
}

.user-profile-image {
    border-radius: 999px;
    cursor: pointer;
}

.bell-icon {
    width: 20px;
    height: 20px;
}

.user-name {
    font-size: 15px;
}

.welcome-msg{
    font-size: 50px;
}

.header {
    width: 100%;
    text-align: left;

    margin: 100px 0 0 100px;   
}

.jumbo-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 70px;
}

.search-input {
    border-radius: 99px;
    border: 1px solid black;
    height: 30px;
    width: 150px;
    padding-left: 10px;
}

.search-btn {
    border: none;
    border-radius: 99px;
    width: 32px;
    height: 32px;
    text-align: center;

    margin-left: -31px;
}

.sort-bar span {
    font-size: 18px;
}

.sort-input {
    width: 150px;
    height: 30px;
    padding: 5px;
    margin-left: 10px;
}

.blue-color {
    color: #7EC2EB;
    margin-right: 5px;
}