.project-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    margin: 520px 120px 0 120px;

    overflow: auto;

    justify-items: center;

}

body {
    background-color: rgb(215,235,246);
}