.project-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    
    margin: 520px 120px 0 120px;

    overflow: auto;

    justify-items: center;

}

body {
    background-color: rgb(215,235,246);
}

/* Responsiveness Handling */
@media (max-width: 767px) {
    .project-section {
        margin: 520px 0 0 75px;
    }
}